div#corte
footer
 section#foo
  article
   img#sub(src='/images/en.png')
   p <b>Encuentranos</b> <br>
     |Cr 5 #18-55 B/El Carmen<br>
     |Ibagué - Tolima
  article
   img#sub(src='/images/tel.png')
   p <b>LLamanos</b> <br>
     |2616880-2631674<br>
  article
   img#sub(src='/images/cont.png')
   p <b>Contactanos</b> <br>
     |sanjose@unibague.edu.co
     div#redes
      a(href='#')
       img.transicion(src='/images/twi.png')
      a(href='#')
       img.transicion(src='/images/go.png')
      a(href='#')
       img.transicion(src='/images/face.png')
  article
   img#sub1(src='/images/copi.png')&nbsp;
   p &nbsp;<b>©2013 by</b> <br>
    |&nbsp;<a href="/logina" target="_blank">Tailor Web Design</a><br>
    |&nbsp;All rights reserved¨.