doctype 5
html(lang='es')
  head
   meta(charset='utf-8')
   title= title
   link(rel='stylesheet', href='/stylesheets/normalize.css')
   link(rel='stylesheet', href='/stylesheets/flexslider.css')
   link(rel='stylesheet', href='/stylesheets/menus.css')
   link(rel='stylesheet', href='/stylesheets/menu.css')
   block link
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oxygen')
   script(src='/javascripts/modernizr.custom.js')
   script(src='/javascripts/main.js') 
   script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  body
   block content
   block script