div.datagrid 
 table
  thead
   tr
    th Codigo
    th Nombre y Apellido
    th Correo
    th Rol
    th Acciones
  tfoot 
   tr
    td(colspan="5") 
     div#paging 
      ul
       li
        a(href="#") 
         span Anterior 
       li 
        a.active(href="#") 
         span 1
       li
        a(href="#") 
         span Siguiente
  div#conttabla
   tbody
    tr
     td data
     td data
     td data
     td data
     td data
    tr.alt
     td data
     td data
     td data
     td data
     td data

