extends layout1
block link
 link(rel='stylesheet', href='/stylesheets/adm.css')
 link(rel="stylesheet", type="text/css", href="/stylesheets/button.css")
block content
 include headera
 article#registro
  fieldset#formnu
   h2 Nuevo Usuario
   div#mensajero 
    include mensaje
   div
     label(for="identifica") Identificacion 
      sup *
     input#identifica(type="text",name="identifica",required)
    div
     label(for="codigo") Codigo
      sup *
     input#codigo(type="text",name="codigo",required) 
    div
     label(for="pnombre") Primer Nombre
      sup *
     input#pnombre(type="text",name="pnombre",required)  
    div
     label(for="snombre") Segundo Nombre
     input#snombre(type="text",name="snombre")
    div
     label(for="papellido") Primer Apellido
      sup *
     input#papellido(type="text",name="papellido",required)
    div
     label(for="sapellido") Segundo Apellido
     input#sapellido(type="text",name="sapellido")
    div 
     label(for="genero") Genero
     select#genero(name="genero")
      option M
      option F 
    div
     label(for="correo") Correo
      sup *
     input#correo(type="email",name="correo",required)

    div
     label(for="direccion") Direccion
     input#direccion(type="text",name="direccion")
    div
     label(for="telefono") Telefono
     input#telefono(type="text",name="telefono")
    div
     label(for="imagen") Foto de Perfil
     input#imagen(type="file",name="photo")
    div
     label(for="rol") Rol
      sup *
     select#rol(name="rol",required)
      option 
      option adm
      option monti
      option user
    div
     label(for="password") Contraseña
      sup *
     input#password(type="password",name="password",required)
    div
     label(for="password1") Repita Su Contraseña
      sup *
     input#password1(type="password",name="password1",required)  
    button.btn.btn-2.btn-2h(onClick="agregar();") Guardar
    
   
block script
 script(type="text/javascript", src="/javascripts/classie.js")

 script
  $(window).load(function(){
   $("#formnu").fadeIn(2000);
  });
 
 